* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

body {
    display: grid;
    grid-template-rows: 100px 1fr auto;

}

* a {
    text-decoration: none;
    color:unset;
    transition: .3s;
}

header img {
    height: 80px;
}

header {
    color: #f0ae5e;
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: #2f3687;
    letter-spacing: 2px;
}

header a:hover {
    color: #f1cf3d;
}
